# ML605 <-> FMC interposer <-> AD9284-EBZ
# Linie danych ADC -> FPGA - pary roznicowe
#
# Karta ML605 i jej podobne maja zasilanie 2V5 na liniach danych zlacz FMC
#
# Przetworniki ADxxxx-EBZ maja zasilanie 1V8 na liniach danych 
# tak samo jak plyta AD-EVALCZ
# Dla sygnalow roznicowych nie powinno byc problemu. Chociaz trzeba o tym pamietac.
#
NET ADC_DA[0]	LOC = J30 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[0]	LOC = K29 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[1]	LOC = L25 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[1]	LOC = L26 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[2]	LOC = H34 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[2]	LOC = H33 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[3]	LOC = G32 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[3]	LOC = H32 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[4]	LOC = J31 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[4]	LOC = J32 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[5]	LOC = K28 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[5]	LOC = J29 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[6]	LOC = F31 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[6]	LOC = E31 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DA[7]	LOC = G31 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DB[7]	LOC = H30 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;

TIMESPEC "TS_ADC" = PERIOD "ADCCLK" 4.0 ns HIGH 50 %;
NET "adc_dco_p" TNM_NET = "ADCCLK" ;
NET "adc_d_p[*]" TNM = adc_data_pads;
NET "adc_d_n[*]" TNM = adc_data_pads;
TIMEGRP "adc_data_pads" OFFSET = IN -0.1 ns VALID 1.62 ns BEFORE "adc_dco_p" RISING;
TIMEGRP "adc_data_pads" OFFSET = IN -0.1 ns VALID 1.62 ns BEFORE "adc_dco_p" FALLING;

# Wyjscie zegara ADC -> FPGA - para roznicowa
NET ADC_DCOA	LOC = F33 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;
NET ADC_DCOB	LOC = G33 | DIFF_TERM = TRUE | IOSTANDARD = LVDS_25;

# Powrot SPI z karty przetwornika
NET ADC_OUT_SCLK	LOC = M30 | IOSTANDARD = LVCMOS25 | TIG;
NET ADC_OUT_SDIO	LOC = R26 | IOSTANDARD = LVCMOS25;
NET ADC_OUT_CSB	LOC = N30 | IOSTANDARD = LVCMOS25;

# Interfejs SPI
NET ADC_SPI_SDI	LOC = L31 | IOSTANDARD = LVCMOS25;
NET ADC_SPI_SDO	LOC = K32 | IOSTANDARD = LVCMOS25;
NET ADC_SPI_CLK	LOC = M31 | IOSTANDARD = LVCMOS25 | TIG;
NET ADC_SPI_CSB	LOC = M27 | IOSTANDARD = LVCMOS25;
