//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 27 00:46:35 2021
//! **************************************************************************

SCHEMATIC START;
COMP "adc_data_in_n<0>" LOCATE = SITE "K29" LEVEL 1;
COMP "adc_data_in_n<1>" LOCATE = SITE "L26" LEVEL 1;
COMP "adc_data_in_n<2>" LOCATE = SITE "H33" LEVEL 1;
COMP "adc_data_in_n<3>" LOCATE = SITE "H32" LEVEL 1;
COMP "adc_data_in_n<4>" LOCATE = SITE "J32" LEVEL 1;
COMP "adc_data_in_n<5>" LOCATE = SITE "J29" LEVEL 1;
COMP "adc_data_in_n<6>" LOCATE = SITE "E31" LEVEL 1;
COMP "adc_data_in_n<7>" LOCATE = SITE "H30" LEVEL 1;
COMP "adc_data_in_p<0>" LOCATE = SITE "J30" LEVEL 1;
COMP "adc_data_in_p<1>" LOCATE = SITE "L25" LEVEL 1;
COMP "adc_data_in_p<2>" LOCATE = SITE "H34" LEVEL 1;
COMP "adc_data_in_p<3>" LOCATE = SITE "G32" LEVEL 1;
COMP "ML605_FPGA_RESET" LOCATE = SITE "H10" LEVEL 1;
COMP "adc_data_in_p<4>" LOCATE = SITE "J31" LEVEL 1;
COMP "adc_data_in_p<5>" LOCATE = SITE "K28" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "AC22" LEVEL 1;
COMP "adc_data_in_p<6>" LOCATE = SITE "F31" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "AC24" LEVEL 1;
COMP "adc_data_in_p<7>" LOCATE = SITE "G31" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "AE22" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "AE23" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "AB23" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "AG23" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "AE24" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "AD24" LEVEL 1;
COMP "adc_clock_out_n" LOCATE = SITE "B10" LEVEL 1;
COMP "adc_clock_out_p" LOCATE = SITE "A10" LEVEL 1;
COMP "led_C" LOCATE = SITE "AP24" LEVEL 1;
COMP "led_N" LOCATE = SITE "AH27" LEVEL 1;
COMP "ML605_SystemClock_200MHz_n" LOCATE = SITE "H9" LEVEL 1;
COMP "adc_dco_in_n" LOCATE = SITE "G33" LEVEL 1;
COMP "ML605_SystemClock_200MHz_p" LOCATE = SITE "J9" LEVEL 1;
COMP "adc_dco_in_p" LOCATE = SITE "F33" LEVEL 1;
COMP "led_S" LOCATE = SITE "AH28" LEVEL 1;
PIN adc_input[0].i_data_ddr_pins<1> = BEL "adc_input[0].i_data_ddr" PINNAME
        CK;
PIN adc_input[0].i_data_ddr_pins<2> = BEL "adc_input[0].i_data_ddr" PINNAME
        CKB;
PIN adc_input[1].i_data_ddr_pins<1> = BEL "adc_input[1].i_data_ddr" PINNAME
        CK;
PIN adc_input[1].i_data_ddr_pins<2> = BEL "adc_input[1].i_data_ddr" PINNAME
        CKB;
PIN adc_input[2].i_data_ddr_pins<1> = BEL "adc_input[2].i_data_ddr" PINNAME
        CK;
PIN adc_input[2].i_data_ddr_pins<2> = BEL "adc_input[2].i_data_ddr" PINNAME
        CKB;
PIN adc_input[3].i_data_ddr_pins<1> = BEL "adc_input[3].i_data_ddr" PINNAME
        CK;
PIN adc_input[3].i_data_ddr_pins<2> = BEL "adc_input[3].i_data_ddr" PINNAME
        CKB;
PIN adc_input[4].i_data_ddr_pins<1> = BEL "adc_input[4].i_data_ddr" PINNAME
        CK;
PIN adc_input[4].i_data_ddr_pins<2> = BEL "adc_input[4].i_data_ddr" PINNAME
        CKB;
PIN adc_input[5].i_data_ddr_pins<1> = BEL "adc_input[5].i_data_ddr" PINNAME
        CK;
PIN adc_input[5].i_data_ddr_pins<2> = BEL "adc_input[5].i_data_ddr" PINNAME
        CKB;
PIN adc_input[6].i_data_ddr_pins<1> = BEL "adc_input[6].i_data_ddr" PINNAME
        CK;
PIN adc_input[6].i_data_ddr_pins<2> = BEL "adc_input[6].i_data_ddr" PINNAME
        CKB;
PIN adc_input[7].i_data_ddr_pins<1> = BEL "adc_input[7].i_data_ddr" PINNAME
        CK;
PIN adc_input[7].i_data_ddr_pins<2> = BEL "adc_input[7].i_data_ddr" PINNAME
        CKB;
TIMEGRP ADCCLK = BEL "adc_dco_div/clock_out" BEL "adc_input[0].i_data_idelay"
        BEL "adc_input[1].i_data_idelay" BEL "adc_input[2].i_data_idelay" BEL
        "adc_input[3].i_data_idelay" BEL "adc_input[4].i_data_idelay" BEL
        "adc_input[5].i_data_idelay" BEL "adc_input[6].i_data_idelay" BEL
        "adc_input[7].i_data_idelay" BEL "adc_dco_bufr" PIN
        "adc_input[0].i_data_ddr_pins<1>" PIN
        "adc_input[0].i_data_ddr_pins<2>" PIN
        "adc_input[0].i_data_ddr_pins<1>" PIN
        "adc_input[0].i_data_ddr_pins<2>" PIN
        "adc_input[1].i_data_ddr_pins<1>" PIN
        "adc_input[1].i_data_ddr_pins<2>" PIN
        "adc_input[1].i_data_ddr_pins<1>" PIN
        "adc_input[1].i_data_ddr_pins<2>" PIN
        "adc_input[2].i_data_ddr_pins<1>" PIN
        "adc_input[2].i_data_ddr_pins<2>" PIN
        "adc_input[2].i_data_ddr_pins<1>" PIN
        "adc_input[2].i_data_ddr_pins<2>" PIN
        "adc_input[3].i_data_ddr_pins<1>" PIN
        "adc_input[3].i_data_ddr_pins<2>" PIN
        "adc_input[3].i_data_ddr_pins<1>" PIN
        "adc_input[3].i_data_ddr_pins<2>" PIN
        "adc_input[4].i_data_ddr_pins<1>" PIN
        "adc_input[4].i_data_ddr_pins<2>" PIN
        "adc_input[4].i_data_ddr_pins<1>" PIN
        "adc_input[4].i_data_ddr_pins<2>" PIN
        "adc_input[5].i_data_ddr_pins<1>" PIN
        "adc_input[5].i_data_ddr_pins<2>" PIN
        "adc_input[5].i_data_ddr_pins<1>" PIN
        "adc_input[5].i_data_ddr_pins<2>" PIN
        "adc_input[6].i_data_ddr_pins<1>" PIN
        "adc_input[6].i_data_ddr_pins<2>" PIN
        "adc_input[6].i_data_ddr_pins<1>" PIN
        "adc_input[6].i_data_ddr_pins<2>" PIN
        "adc_input[7].i_data_ddr_pins<1>" PIN
        "adc_input[7].i_data_ddr_pins<2>" PIN
        "adc_input[7].i_data_ddr_pins<1>" PIN
        "adc_input[7].i_data_ddr_pins<2>" BEL "adc_dco_div/counter_0" BEL
        "adc_dco_div/counter_1" BEL "adc_dco_div/counter_2" BEL
        "adc_dco_div/counter_3" BEL "adc_dco_div/counter_4" BEL
        "adc_dco_div/counter_5" BEL "adc_dco_div/counter_6" BEL
        "adc_dco_div/counter_7" BEL "adc_dco_div/counter_8" BEL
        "adc_dco_div/counter_9" BEL "adc_dco_div/counter_10" BEL
        "adc_dco_div/counter_11" BEL "adc_dco_div/counter_12" BEL
        "adc_dco_div/counter_13" BEL "adc_dco_div/counter_14" BEL
        "adc_dco_div/counter_15" BEL "adc_dco_div/counter_16" BEL
        "adc_dco_div/counter_17" BEL "adc_dco_div/counter_18" BEL
        "adc_dco_div/counter_19" BEL "adc_dco_div/counter_20" BEL
        "adc_dco_div/counter_21" BEL "adc_dco_div/counter_22" BEL
        "adc_dco_div/counter_23" BEL "adc_dco_div/counter_24" BEL
        "adc_dco_div/counter_25" BEL "adc_dco_div/counter_26" BEL
        "adc_dco_div/counter_27";
TIMEGRP CLKOUT0 = BEL "adc_clock_div/clock_out" BEL "adc_clock_div/counter_0"
        BEL "adc_clock_div/counter_1" BEL "adc_clock_div/counter_2" BEL
        "adc_clock_div/counter_3" BEL "adc_clock_div/counter_4" BEL
        "adc_clock_div/counter_5" BEL "adc_clock_div/counter_6" BEL
        "adc_clock_div/counter_7" BEL "adc_clock_div/counter_8" BEL
        "adc_clock_div/counter_9" BEL "adc_clock_div/counter_10" BEL
        "adc_clock_div/counter_11" BEL "adc_clock_div/counter_12" BEL
        "adc_clock_div/counter_13" BEL "adc_clock_div/counter_14" BEL
        "adc_clock_div/counter_15" BEL "adc_clock_div/counter_16" BEL
        "adc_clock_div/counter_17" BEL "adc_clock_div/counter_18" BEL
        "adc_clock_div/counter_19" BEL "adc_clock_div/counter_20" BEL
        "adc_clock_div/counter_21" BEL "adc_clock_div/counter_22" BEL
        "adc_clock_div/counter_23" BEL "adc_clock_div/counter_24" BEL
        "adc_clock_div/counter_25" BEL "adc_clock_div/counter_26" BEL
        "adc_clock_div/counter_27" BEL "adc_clock_out_p" BEL "adc_clock_out_n"
        BEL "CLKOUT0_BUFG";
TIMEGRP adc_data_in_pta_pads = BEL "adc_data_in_p<0>" BEL "adc_data_in_p<1>"
        BEL "adc_data_in_p<2>" BEL "adc_data_in_p<3>" BEL "adc_data_in_p<4>"
        BEL "adc_data_in_p<5>" BEL "adc_data_in_p<6>" BEL "adc_data_in_p<7>"
        BEL "adc_data_in_n<0>" BEL "adc_data_in_n<1>" BEL "adc_data_in_n<2>"
        BEL "adc_data_in_n<3>" BEL "adc_data_in_n<4>" BEL "adc_data_in_n<5>"
        BEL "adc_data_in_n<6>" BEL "adc_data_in_n<7>";
PIN MAIN_200_CLK_MMCM_pins<2> = BEL "MAIN_200_CLK_MMCM" PINNAME CLKIN1;
TIMEGRP PIN_SystemClock_200MHz = PIN "MAIN_200_CLK_MMCM_pins<2>";
TS_ADC = PERIOD TIMEGRP "ADCCLK" 4 ns HIGH 50%;
TS_SystemClock = PERIOD TIMEGRP "PIN_SystemClock_200MHz" 200 MHz HIGH 50%;
TS_CLKOUT0 = PERIOD TIMEGRP "CLKOUT0" TS_SystemClock * 1.25 HIGH 50%;
PIN ML605_FPGA_RESET_pins<0> = BEL "ML605_FPGA_RESET" PINNAME PAD;
PIN MMCM_PHASE_CALIBRATION_ML_LUT2_4_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LUT2_4" PINNAME O6;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_3_pins<3> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_3" PINNAME SR;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_3_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_3" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_2_pins<3> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_2" PINNAME SR;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_2_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_2" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_1_pins<3> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_1" PINNAME SR;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_1_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_1" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_0_pins<0> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_0" PINNAME CK;
PIN "ML605_FPGA_RESET_pins<0>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LUT2_4_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_3_pins<3>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_3_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_2_pins<3>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_2_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_1_pins<3>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_1_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_0_pins<0>" TIG;
SCHEMATIC END;

